@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionName</title>
</head>
<body>
    <div>Контроллер: @ViewBag.Controller</div>
    <div>Действие: @ViewBag.Action</div>
    <div>
        @Html.ActionLink("Это исходящий URL",
            "CustomVariable", new { id = "Hello" })
    </div>
    <div>
        @Html.ActionLink("Это исходящий URL", "CustomVariable")
    </div>
    <div>
        @Html.ActionLink("Это касается другого контроллера", "Index", "Admin")
    </div>
</body>
</html>


