@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionName</title>
</head>
<body>
    <div>Контроллер: @ViewBag.Controller</div>
    <div>Действие: @ViewBag.Action</div>
    <div>
        @Html.RouteLink("Нажми меня", "MyOtherRoute", "Index", "Customer")
    </div>
    <div>
        @Html.ActionLink("Нажми меня", "GetLegacyURL",
        new { legacyURL = "~/articles/Windows_3.1_Overview.html" })
    </div>
    <div>
        Это URL:
        @Url.Action("Index", "Home", new { id = "MyId" })
    </div>
    <div>
        @Html.ActionLink("Это исходящий URL", "Index", "Home",
            "https", "myserver.mydomain.com", "myFragmentName",
            new { id= "MyId"},
            new { id = "myAnchorID", @class = "myCSSClass" })
    </div>
    <div>
        @Html.ActionLink("Это исходящий URL",
            "Index", "Home", null, new { id = "myAnchorID", @class = "myCSSClass" })
    </div>
    <div>
        @Html.ActionLink("Это исходящий URL",
            "CustomVariable", new { id = "Hello" })
    </div>
    <div>
        @Html.ActionLink("Это исходящий URL", "CustomVariable")
    </div>
    <div>
        @Html.ActionLink("Это касается другого контроллера", "Index", "Admin")
    </div>
</body>
</html>


